$main_blue: #014E6C;
$main_red: #D22C32;
$main_white: #FFFFFF;
$main_black: #000000;
$main_grey: #F2F2F2;
$main_dark: #353535;
$main_purple:#B1C7FF;
$main_green:#1CDDB4;
$main_yellow:#FFE177;
$text_grey: #ADBFC7;
$btn_disabled: rgba(210, 44, 50, 0.7);